body {
    background-color: rgb(236, 236, 236);
    margin: 5rem;
    font-family: "Roboto"
}
.contPrincipal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.tabla {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 20rem;
    border-radius: .2rem;
    -webkit-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.75);
}

.tablaCampo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tablaLabel {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5rem;
}

.tablaInput {
    height: 2rem;
    border-radius: .5rem;
    border: 2px solid rgb(236, 236, 236);;
}

.tablaBoton {
    background-color: rgb(2, 2, 78);
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: .5rem;
    transition: background-color .5s ;
    font-weight: 900;
}

.tablaBoton:hover {
    cursor: pointer;
    background-color: rgb(3, 3, 128);
    
}

.tablaContenido {
    
}

.listaTarjeta {
    background-color: white;
    padding: 2rem;
    min-width: 35rem;
    border-radius: .5rem;
    -webkit-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.75);
}


.tarjetaCampo span {
    text-transform: uppercase;
    font-weight: 700;
}

.tarjetaAcciones{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.tarjetaActualizar {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(3, 3, 167);
    color: white;
    border-radius: .5rem;
}

.tarjetaEliminar {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(128, 7, 7);
    color: white;
    border-radius: .5rem;
}

.titulo {
    text-align: center;
}